[Unit]
After=network.target
Description=Headman bot

[Service]
Type=simple
ExecStart=/var/www/HeadmanBot/scripts/start.sh
ExecStop=/var/www/HeadmanBot/scripts/down.sh
Restart=always
