[Unit]
After=network.target
Description=Headman testing bot

[Service]
Type=simple
ExecStart=/opt/HeadmanBotTest/scripts/start-testing.sh
ExecStop=/opt/HeadmanBotTest/scripts/down-testing.sh
Restart=always
