[Unit]
After=network.target
Description=Headman bot

[Service]
Type=simple
ExecStart=/opt/HeadmanBot/scripts/start.sh
ExecStop=/opt/HeadmanBot/scripts/down.sh
Restart=always
